body {
    margin: 0;
    background: #FFC107;
}

.title {
    text-align: center;
    font-size: 4rem;
    font-family: "Roboto Condensed", Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px #b7720d;
}

.score {
    color: white;
    font-size: 4rem;
    position: fixed;
    top: 0;
    font-family: "Roboto Condensed", Arial, sans-serif;
    text-shadow: 1px 1px 1px #b7720d;
    font-weight: bold;
    left: 0;
    background: #2196F3;
    padding: 10px 30px;
    border-radius: 0 0 10px 0;
    z-index: -1;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

#p2-score {
    border-radius: 0 0 0 10px;
    right: 0;
    left: inherit;
    background-color: #FF5722;
}

canvas {
    display: block;
    width: 80vw;
    max-width: 900px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.3);
}

.github-link {
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 1000;
}

.github-link .bg {
    fill: #424242;
    fill-opacity: 0.2;
}

.github-link .icon {
    fill: #fff;
    fill-opacity: 0.6;
}

@media screen and (max-width: 560px){
    .title {
        margin-bottom: 6rem;
    }

    .score {
        border-radius: 0 10px 10px 0;
        top: 9rem;
        font-size: 3rem;
    }

    #p2-score {
        border-radius: 10px 0 0 10px;
    }
}